on:
  pull_request:
    branches:
      - master
      - develop

name: Build project and run Lighthouse CI
jobs:
  Lighthouse:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: echo "##[set-output name=workspace;]$(echo ${{github.HEAD_REF }} | cut -f2 -d"/" | tr "[:upper:]" "[:lower:]" | sed -e 's/-//g' )"

      - name: Lighthouse CI
        uses: treosh/lighthouse-ci-action@v9
        with:
          urls: |
            https://loja.electrolux.com.br/=${{ steps.extract_branch.outputs.workspace }}
          uploadArtifacts: true # save results as an action artifacts
          temporaryPublicStorage: true # upload
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
